.background {
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 100%;
}

.background.home {
  background-image: url("./images/bannerHome.png");
}

.background.products {
  background-image: url("./images/bannerProducts.png");
}

.background.stores {
  background-color: #17191d;
}

.background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
